<a href="https://colab.research.google.com/github/Diegomca98/4Geeks-Diego/blob/main/00-classwork/Manipulaci%C3%B3n_de_Datos_con_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Herramienta de manipulación de datos de alto nivel, construida sobre Numpy y permite el análisis y limpieza de datos en bruto.

Los principales tipos de datos que pueden representarse con pandas son:

* Datos tabulares que tienen columnas de tipo heterogéneo con etiquetas en columnas y filas.
* Series temporales

Permite leer y escribir datos en diferentes formatos como lo son: CSV, JSON, Excel, bases SQL

Se instala empleando

* pip install pandas
* conda install pandas

# Manipulación de datos con pandas

In [ ]:
# Importar librerias
import pandas as pd # Importar pandas
import numpy  as np # Importar numpy

In [ ]:
# Leer archivos separados por comas, extension .csv
df = pd.read_csv('/content/Phone.csv')
df.head(5) ## mostrar primeros 5 registros

In [ ]:
# dimensiones del dataframe
df.shape

In [ ]:
# Información genral del data frame
df.info()

In [ ]:
# Tipos de datos que existen en las columnas del dataframe
df.dtypes

El metodo .describe() de los dataframes muestra un resumen de la estadistica descriptiva general de las columnas numericas del dataframe.

* Promedio (mean)
* Desviacion estandard (std)
* Valor minimo
* Valor maximo
* Cuartiles (25%, 50% y 75%)

In [ ]:
df.describe() # No muestra la informacion de las columnas categoricas

Seleccion e Indexación

In [ ]:
df.describe( include=['O']) # Mostrar variables categoricas

In [ ]:
# Regresara todos los datos de la columna Phone_type
df['Phone_type']

In [ ]:
# Seleccionar dos o mas columnas

df[['Phone_type','Income']]

In [ ]:
## Crear una nueva columna

df['Income_Descuento'] = df.Income * 0.20
df.head()

In [ ]:
df.drop('Income_Descuento',axis=1) # axis = 0 elimina filas(index) axis = 1 elimina columnas

In [ ]:
df.head()

In [ ]:
# Para que quede grabado

# df = df.drop('Income_Descuento',axis=1) # Forma 1
df.drop('Income_Descuento', axis=1, inplace=True) # Forma 2

In [ ]:
df.head()

In [ ]:
df.columns # nombres de las columnas

In [ ]:
df.index # nombres de los indices

Filtros

In [ ]:
# seleccionar todas las filas donde el valor Income sea mayor que 0
df[df['Income']>0]

In [ ]:
## Forma 2
df.query('Income > 0')

In [ ]:
# Seleccionar las filas donde Income sea mayor que cero y Phone Type sea igual a Android
df[(df['Income']>0) & (df['Phone_type']=='Android')]

Datos Faltantes (Missing data)

In [ ]:
# Verificar si hay datos faltantes por columna
df.isnull().any()

In [ ]:
# Numero de datos faltantes por columna
df.isnull().sum()

In [ ]:
# Max cantidad de datos faltantes para un registro
max(df.isnull().sum(axis=1))

In [ ]:
# Eliminar todas las filas que tengan datos faltantes
df.dropna(axis=0) # cuando son filas no es neceario escribir axis=0

In [ ]:
# Eliminar todas las columnas que tengan datos faltantes
df.dropna(axis=1)

Imputar datos faltantes

In [ ]:
# Llenar los datos faltantes con el dato que nos interese
df.fillna(value=0)

In [ ]:
# Llenar los datos faltantes con el promedio de esa columna
df['Income'].fillna(value=df['Income'].mean())

In [ ]:
## Datos unicos

df['Phone_type'].unique()

In [ ]:
# Numero de valores unicos en el dataframe
df['Class_type'].nunique()

Estadistica Descriptiva

In [ ]:
# Media Aritmetica
df.Income.mean()

In [ ]:
# Mediana
df.Income.median()

In [ ]:
# Mediana
df.Income.max()

145100.0

In [ ]:
# Minimo
df.Income.min()

In [ ]:
# Moda
df.Income.mode()

In [ ]:
## Cantidad de datos por Phone_type

df.Phone_type.value_counts()

In [ ]:
## Cantidad de datos por Class_type

df.Class_type.value_counts()

Medidas de dispersión

In [ ]:
# Varianza
df.Income.var()

In [ ]:
# Desviación tipica o desviación estandar
df.Income.std()